<!-- BEGIN CONTENT -->
<section id="content" class="clearfix">
<!-- Title --><div id="content-title">Modeli</div>

<!-- BEGIN LEFT CONTENT -->
<section id="portfoliotile-left">

<!-- BEGIN TILE CONTENT -->
<div id="portfolio" class="clearfix centered">

<!-- Link -->
<% @models.each do |model| %>
	<div class="tile large illustration">
    <a href="home.html">
    <div class="pl-projecttitle"><span class="pl-title"><%= model.name %><br>test</span></div>
    <img class="tile-pre-img" src="<%=asset_path model.photo %>" alt="Project 1" />
    </a>
    </div>
<% end %>
<!-- Kraj linka -->


<%= link_to "Profile", :controller => "profiles", :action => "show", :id => @profile%>

    
</div><!-- end #portfolio -->
<!-- END TILE CONTENT -->
</section>
<!-- END LEFT CONTENT -->
