<!-- BEGIN CONTENT -->
<section id="content" class="clearfix">
<!-- Title --><div id="content-title">Brendovi</div>

<!-- BEGIN LEFT CONTENT -->
<section id="portfoliotile-left">

<!-- BEGIN TILE CONTENT -->
<div id="portfolio" class="clearfix centered">

<!-- Link -->
<% @brends.each do |brend| %>
	<div class="tile large illustration">
	
    <%= link_to  :controller => "brends", :action => "show", :brend_id => brend.id  do%>
    <div class="pl-projecttitle"><span class="pl-title"><%= brend.name %><br>test</span></div>
    <img class="tile-pre-img" src="<%=asset_path brend.photo %>" alt="Project 1" />
    <% end %>
    </div>
<% end %>
<!-- Kraj linka -->



    
</div><!-- end #portfolio -->
<!-- END TILE CONTENT -->
</section>
<!-- END LEFT CONTENT -->
